html, 
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
    font-size: 1.2em;
    font-weight: 600;
    margin: 1em 1.2em;
}

h3 {
    font-size: 1em;
    font-weight: 500;
}

h4 {
    font-weight: 500;
}

h2, 
h4,
h5 {
    text-transform: capitalize;
    color: #2A4765;
}

button {
    cursor: pointer;
}

.wrapper {
    width: 87.5%;
    margin: 0 auto;
}

@media only screen and (min-width: 767px) {
    h2 {
        font-size: 1.8em;
        font-weight: 600;
    }

    h3 {
        font-size: 1.5em;
    }

    h4 {
        font-size: 1.4em;
    }

    h5 {
        font-size: 1em;
    }
}

@media only screen and (min-width: 1279px) {
    .main-content {
        margin-left: 140px;
        padding-bottom: 2em;
        overflow: hidden;
    }
}